footer { 
	width:100%;
	color: white;
	height: $mediumist;
	background: $gray;
	float:left;
	text-align: center;
	padding: $small;

	a { 
		color: tint(gray, 50);
		letter-spacing: $smallest/2;
	}

	h5 { 
		font-size: $smaller;
		text-transform: uppercase; 
		letter-spacing: $smallest/2;
	}

	h6 { 
		font-size: $smaller;
		margin: $smallest auto;
	}
}