
header { 
	background: $primary; 
	h1, h2 { color: white; text-align: center;}
	width: 100%; 
	margin: 0 auto; 
	padding: 1em 0;
	h2 { font-family: $serif, serif; font-weight: 600; @include adjust-font-size-to($normal); text-transform: lowercase; } 
	h1 {  font-weight: 100; @include adjust-font-size-to($large); letter-spacing: 1px; }
}