/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 61, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
* html {
  font-size: 87.5%;
}

/* line 64, ../../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 14px;
  line-height: 1.5em;
}

/* line 2, ../sass/_header.scss */
header {
  background: #05c4f2;
  width: 100%;
  margin: 0 auto;
  padding: 1em 0;
}
/* line 4, ../sass/_header.scss */
header h1, header h2 {
  color: white;
  text-align: center;
}
/* line 8, ../sass/_header.scss */
header h2 {
  font-family: "Crimson Text", serif;
  font-weight: 600;
  font-size: 1em;
  line-height: 1.5em;
  text-transform: lowercase;
}
/* line 9, ../sass/_header.scss */
header h1 {
  font-weight: 100;
  font-size: 2.61793em;
  line-height: 1.14594em;
  letter-spacing: 1px;
}

/* line 1, ../sass/_nav.scss */
nav {
  background: #f20565;
  padding-left: 1%;
  width: 24%;
  float: left;
}
/* line 4, ../sass/_nav.scss */
nav a {
  color: white;
  display: inline-block;
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  margin: 0 1em 0 0;
  font-size: 1.618em;
  line-height: 1.85414em;
}

/* line 1, ../sass/_aside.scss */
aside {
  width: 20%;
  padding: 0 2.5%;
  height: 100%;
  float: right;
  background: #f20565;
}
/* line 7, ../sass/_aside.scss */
aside label, aside h1, aside h2, aside h3, aside h4, aside h5, aside h6 {
  color: white;
}

/* line 5, ../sass/_global.scss */
h1,
h2,
h4,
h5,
h6 {
  font-family: "Josefin Sans", sans-serif;
  text-align: center;
}

/* line 7, ../sass/_global.scss */
h3 {
  font-size: 1.618em;
  line-height: 1.85414em;
  text-align: center;
  margin-bottom: .5em;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  font-style: italic;
}

/* line 9, ../sass/_global.scss */
input, label, p, li, h3 {
  font-family: "Crimson Text", serif;
}

/* line 11, ../sass/_global.scss */
p, li {
  font-size: 1.618em;
  line-height: 1.85414em;
}

/* line 15, ../sass/_global.scss */
a:hover {
  color: #f2cd05;
}

/* line 17, ../sass/_global.scss */
article {
  width: 40%;
  margin: 0 5%;
  float: left;
}

/* line 23, ../sass/_global.scss */
label, input {
  display: block;
  margin: 1em 10%;
  width: 80%;
  height: 40px;
  font-size: 1.618em;
  line-height: 1.85414em;
}

/* line 32, ../sass/_global.scss */
label, li {
  text-align: center;
}
